fastapi
uvicorn
python-multipart
jinja2
aiofiles

numpy
pandas
scikit-learn
joblib
sqlalchemy

torch
torchvision

Pillow

python-dotenv

google-generativeai

langchain
langgraph

twilio

requests

xgboost
